/*
 * Kashev Dalmia - kashev.dalmia@gmail.com
 * kashevdalmia.com
 */

/* FONTS */
/* Lato */
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700");
/* Inconsolata */
@import url("http://fonts.googleapis.com/css?family=Inconsolata");


/*
 * MIXINS
 */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}


/*
 * VARIABLES
 */

$lato-stack    : "Lato", Helvetica, sans-serif;
$console-stack : "Inconsolata", monospace;

$background : #FFF;
$text       : #111;

$page-margin : 3%;

$h1-size : 3.5rem;
$h2-size : 3.0rem;
$p-size : 2.1rem;
$padding-factor : 0.0;
$margin-factor  : 0.0;

$page-width : 60.0rem;

/*
 * STYLED TAGS
 */

html {
  font-size: 62.5%; // makes default font size 10px, for easy math
}

html body {
  background-color : $background;
  color : $text;
  font-family: $lato-stack;
  .pure-g [class *= "pure-u"] {
    font-family: $lato-stack;
  }
  margin : $page-margin $page-margin 0 $page-margin;
  height: 100%;
}

#content {
  width: 100%;
  max-width: 100%;
}

header {
  text-align: center;

}

h1 {
  font-size: $h1-size;
  font-weight: bold;
}

header {
  padding-bottom: $p-size;
  white-space: nowrap;
  h1 {
    font-size: 14vw;
    padding : $padding-factor * $h1-size;
    margin  : $margin-factor  * $h1-size;
    font-weight : 300;
  }

  h2 {
    font-size: 8vw;
  }
}

h2 {
  font-size: $h2-size;
  font-family: $console-stack;
  padding : $padding-factor * $h2-size;
  margin  : $margin-factor  * $h2-size;
}

p {
  font-family: $lato-stack;
  font-size: $p-size;
  text-align: justify;
  line-height: $p-size * (($padding-factor * 3) + 1);

  padding : $padding-factor * $p-size;
  margin  : $margin-factor  * $p-size;
}

strong {
  font-weight: bold;
}

/*
 * Large Screen Tweaks
 */
@media (min-width: 568px) {
  #content {
    max-width: $page-width;
    margin: 0 auto;
  }

  header {
    h1 {
      font-size: $h1-size * 2;
    }
    h2 {
      font-size: $h2-size;
    }
  }
}

/*
 * SELECTION
 *  Because this is how you show you care.
 */
$selection-color      : $background;
$selection-background : $text;
::selection      { color : $selection-color; background : $selection-background;}
::-moz-selection { color : $selection-color; background : $selection-background;}


/*
 * UTILITY CLASSES
 */
.circle {
  @include border-radius(50%);
}
.contained {
  max-width  : 100%;
  max-height : 100%;
}
.center {
  margin: 0 auto;
}


/*
 * ICONS
 */
$icon-size : 64px;
#kd-icons-bar {

  width: 100%;
  padding : 0;
  .kd-icon-box {
    @include border-radius(50%);
    display: block;
    width  : $icon-size;
    height : $icon-size;
    text-align: center;

    .kd-icon {
      display: block;
      margin-left: auto;
      margin-right: auto;
      display: inline-block;
      vertical-align: middle;
      height: 90%;
    }
  }

  /* Specific Icon Classes */
  $mail-name : ".mail-icon";
  $mail-color : #DD4B39; // gmail
  $mail-image : "mail.png";

  $github-name : ".github-icon";
  $github-color : #555555;
  $github-image : "github.png";

  $linkedin-name : ".linkedin-icon";
  $linkedin-color : #007FB1;
  $linkedin-image : "linkedin.png";

  $resume-name : ".resume-icon";
  $resume-color : #333333;
  $resume-image : "resume.png";

  $blog-name : ".blog-icon";
  $blog-color : #212425; // ghost blog
  $blog-image : "ghost.png";


  @mixin kd-icon-maker($name, $color, $image) {
    #{$name} {
      display: block;
      margin: 0 auto;
      width: $icon-size;
      height: $icon-size;
      @include border-radius(50%);

      background: $color;
      background-image: url(../img/#{$image});
      background-size: $icon-size*.9 $icon-size*.9;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }

    #{$name}:hover {
      background: lighten($color, 10%);
      background-image: url(../img/#{$image});
      background-size: $icon-size*.9 $icon-size*.9;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }

  @include kd-icon-maker($mail-name, $mail-color, $mail-image);
  @include kd-icon-maker($github-name, $github-color, $github-image);
  @include kd-icon-maker($linkedin-name, $linkedin-color, $linkedin-image);
  @include kd-icon-maker($resume-name, $resume-color, $resume-image);
  @include kd-icon-maker($blog-name, $blog-color, $blog-image);
}

/*
 * HINT.CSS CUSTOMIZATIONS
 */
.hint:after, [data-hint]:after {
  font-size: $p-size * 0.9;
}
.hint--bottom:after {
  margin-left: -1 * 0.5 * $icon-size;
}
.hint--bottom:before {
  margin-left: -5px;
}

/*
 * ONE OFF CLASSES
 */

.headshot-container {
  width: 16.5rem;
  border: 1.28rem;
  display: block;
  margin-top : 20px;
  padding-bottom: 2rem;
}

